<a href="https://colab.research.google.com/github/GreyeNaut/Python_for_Data_Analysis/blob/main/7_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

## Loop basics

- There are two distinct types of loops: 'for' and 'while' loops

1. For loops are used when the number of times the code must run is known (length of a list, tuple, string...)
2. While loops run until a certain logical condition is met

## For Loops

In [ ]:
# A for loop allows us to run certain piece of code for every element of a sequence

iterable = ["Backpack", "Guitar", "Notebook", "Coffee Mug", "Sunglasses",
            "Watch", "Pen", "Headphones", "Wallet", "Sneakers"]

# This loop cycles through the 'iterable' list
# It runs the same number of times as elements are in the iterable, to the iterable[len(iterable)-1] time
for item in iterable:
  print(item) # Like logicial condition, this piece of code is indented to indicate a fork in the code excecution

# Item is a name given for the elements inside an iterable (whatever its name is)

# There are three methods to run over sequences with for loops
# 1.  The basic "for item in iterable", that is best for single sequences

prices = [1200, 800, 150, 100, 50, 300, 200, 400, 500, 250]
exchange_rate = 0.98
new_prices = []

for price in prices:
  new_price = price*exchange_rate
  new_prices.append(new_price)

print(f"The new prices for the prices list is {new_prices}")

# 2. The one that uses the range sequence and the lengtt of a given list, to run
# over MULTIPLE lists ate the same time with the index

prices = [1200, 800, 150, 100, 50, 300, 200, 400, 500, 250]
items = ["Laptop", "Smartphone", "Headphones", "Keyboard", "Mouse",
         "Monitor", "Smartwatch", "Tablet", "Camera", "Speaker"]

for i in range(len(prices)):
  new_price = prices[i]*exchange_rate
  new_prices.append(new_price)
  print(f"The new price for {items[i]} is {new_price}")


# The better way is to use enumerate(iterable) thus will retuirn the index AND item of a given iterable, as it loops trhough it
# Also is more efficient, it does'nt generate a new object

print("\n")

for index, item in enumerate(items):
  new_price = prices[index]*exchange_rate
  new_prices.append(new_price)
  print(f"The new price for {item} is {new_price}")

Backpack
Guitar
Notebook
Coffee Mug
Sunglasses
Watch
Pen
Headphones
Wallet
Sneakers
The new prices for the prices list is [1176.0, 784.0, 147.0, 98.0, 49.0, 294.0, 196.0, 392.0, 490.0, 245.0]
The new price for Laptop is 1176.0
The new price for Smartphone is 784.0
The new price for Headphones is 147.0
The new price for Keyboard is 98.0
The new price for Mouse is 49.0
The new price for Monitor is 294.0
The new price for Smartwatch is 196.0
The new price for Tablet is 392.0
The new price for Camera is 490.0
The new price for Speaker is 245.0


The new price for Laptop is 1176.0
The new price for Smartphone is 784.0
The new price for Headphones is 147.0
The new price for Keyboard is 98.0
The new price for Mouse is 49.0
The new price for Monitor is 294.0
The new price for Smartwatch is 196.0
The new price for Tablet is 392.0
The new price for Camera is 490.0
The new price for Speaker is 245.0

## ASSIGNMENT: For Loops (range)

### Applying Sales Tax

Last weekend our system went down and we didn't have a calculator on site, so we told customers we'd charge them for tax later.

The transactions are below.

In [ ]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

Can you apply sales tax to all of the transactions?

The tax rate is 8%.

Once we've calculated the taxes, we'll need to add them to their subtotals and calculate the the total invoice value.

Your code should produce two lists.

* `taxes`:The first should be a list of the tax amounts on each transaction, rounded to the nearest .01.

* `totals`: The second should be a list where each element is subtotal[i] + tax[i]

In [ ]:
taxes = []
totals = []

# This is code Stuart used to calculate the tax and total
# for a single subtotal, can you put them in a loop?

for price in subtotals:
    tax = round(price * .08, 2)
    total = round(price + tax, 2)
    taxes.append(tax)
    totals.append(total)

print(taxes)
print(totals)

[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

## ASSIGNMENT: For Loops (enumerate)

### Sales Tax by State

We forgot to account for the fact that different states have different tax rates, so we need to modify our loop we just built.

We have a list containing the location of each purchase. The transaction `subtotal[i]` took place at `locations[i]`.

In [ ]:
subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99
]

In [ ]:
location = [
    'Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley',
    'Mammoth', 'Mammoth', 'Mammoth', 'Sun Valley'
]

The following tax rates should be applied for each location:

* Sun Valley: 8%
* Stowe: 6%
* Mammoth: 7.75%

In [ ]:
taxes = []
totals = []

# This is code Stuart used to calculate the tax and total
# for a single subtotal, can you put them in a loop?

Tax_Sun_Valley = 0.08
Tax_Stowe = 0.06
Tax_Mammoth = 0.0775

for i, subtotal in enumerate(subtotals):
    if location[i] == "Sun Valley":
        tax = round(subtotal * Tax_Sun_Valley, 2)
    if location[i] == "Stowe":
        tax = round(subtotal * Tax_Stowe, 2)
    else:
        tax = round(subtotal * Tax_Mammoth, 2)
    total = round(subtotal + tax, 2)
    taxes.append(tax)
    totals.append(total)

print(taxes)
print(totals)

[1.24, 54.0, 62.0, 7.08, 0.46, 46.5, 1.94, 139.5, 7.75]
[17.22, 953.97, 861.97, 125.04, 6.45, 646.49, 26.93, 1939.44, 107.74]

## While loops

In [ ]:
# While loops run until certain logical condition is met

 # while logical expression:
    # run this code

 # often inlcude counters that are increased by 1 in each iteration

counter = 0

while counter < 10:
     counter += 1
     print(counter)

# Carefull, a mistake can run the loop infinetly!!

1
2
3
4
5
6
7
8
9
10

In [ ]:
stock_portfolio = 10000
year_counter = 0
spending = 100

while stock_portfolio < 500000:
    investment_income = stock_portfolio*0.1
    stock_portfolio += investment_income
    stock_portfolio -= spending # Use += or -= to increase or decrease the amout of a variable
    year_counter +=1

    print(f'At year {year_counter}, i will have {round(stock_portfolio,2)}')

At year 1, i will have 10900.0
At year 2, i will have 11890.0
At year 3, i will have 12979.0
At year 4, i will have 14176.9
At year 5, i will have 15494.59
At year 6, i will have 16944.05
At year 7, i will have 18538.45
At year 8, i will have 20292.3
At year 9, i will have 22221.53
At year 10, i will have 24343.68
At year 11, i will have 26678.05
At year 12, i will have 29245.86
At year 13, i will have 32070.44
At year 14, i will have 35177.49
At year 15, i will have 38595.23
At year 16, i will have 42354.76
At year 17, i will have 46490.23
At year 18, i will have 51039.26
At year 19, i will have 56043.18
At year 20, i will have 61547.5
At year 21, i will have 67602.25
At year 22, i will have 74262.47
At year 23, i will have 81588.72
At year 24, i will have 89647.59
At year 25, i will have 98512.35
At year 26, i will have 108263.59
At year 27, i will have 118989.95
At year 28, i will have 130788.94
At year 29, i will have 143767.84
At year 30, i will have 158044.62
At year 31, i will have 173749.08
At year 32, i will have 191023.99
At year 33, i will have 210026.39
At year 34, i will have 230929.03
At year 35, i will have 253921.93
At year 36, i will have 279214.12
At year 37, i will have 307035.54
At year 38, i will have 337639.09
At year 39, i will have 371303.0
At year 40, i will have 408333.3
At year 41, i will have 449066.63
At year 42, i will have 493873.29
At year 43, i will have 543160.62

### Calculate Projected Inventory for Each Month

We currently have 686 pairs of skis in inventory, and sell 84 each month.

Write a program that keeps track of monthly inventory, by subtracting 84 pairs of skis from inventory each month.

Your program should print 'At the end of month x, we have y pairs of inventory', where x is the number of months that has gone by and y is the remaining inventory at that month.

If inventory goes negative, your program should stop running.

In [ ]:
current_inventory = 686
monthly_sales = 84
month = 0

while current_inventory > 0:
    current_inventory -= monthly_sales
    month += 1
    print(f'At the end of month {month}, we have {current_inventory} pairs of inventory')

At the end of month 1, we have 602 pairs of inventory
At the end of month 2, we have 518 pairs of inventory
At the end of month 3, we have 434 pairs of inventory
At the end of month 4, we have 350 pairs of inventory
At the end of month 5, we have 266 pairs of inventory
At the end of month 6, we have 182 pairs of inventory
At the end of month 7, we have 98 pairs of inventory
At the end of month 8, we have 14 pairs of inventory
At the end of month 9, we have -70 pairs of inventory

## Nested loops

In [ ]:
# Nested loops are loops nested within each oter
# The nested loop is referred to as 'inner loop' the other is the 'outer loop'
# They are often use for navigating nested lists and similar data structures

students = ["Alice", "Bob", "Charlie", "David", "Eve"]
subjects = ["Math", "Science", "History"]

for student in students:
    for subject in subjects:
        print(f"{student} is taking {subject}")

import random

student_scores =[]

for student in students:
    scores =[]
    for subject in subjects:
        score = random.randint(50, 100)
        scores.append(score)
        print(f"{student} has scored an {score} in {subject}")
    student_scores.append(scores)

student_scores

Alice is taking Math
Alice is taking Science
Alice is taking History
Bob is taking Math
Bob is taking Science
Bob is taking History
Charlie is taking Math
Charlie is taking Science
Charlie is taking History
David is taking Math
David is taking Science
David is taking History
Eve is taking Math
Eve is taking Science
Eve is taking History
Alice has scored an 58 in Math
Alice has scored an 100 in Science
Alice has scored an 76 in History
Bob has scored an 90 in Math
Bob has scored an 70 in Science
Bob has scored an 85 in History
Charlie has scored an 89 in Math
Charlie has scored an 64 in Science
Charlie has scored an 86 in History
David has scored an 83 in Math
David has scored an 57 in Science
David has scored an 76 in History
Eve has scored an 87 in Math
Eve has scored an 52 in Science
Eve has scored an 87 in History

[[58, 100, 76], [90, 70, 85], [89, 64, 86], [83, 57, 76], [87, 52, 87]]

### Apply Discounts for Multi-Order Customers

We need to apply a 10% discount to every transaction in the list below.

Assign the discounted transactions to a new list: `discounted_prices`.

In [ ]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

multi_order_customers

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [ ]:
discounted_prices = []

for order in multi_order_customers:
    customer_dicounted_prices = []
    for price in order:
        discounted_price = round(price * 0.9,2)
        customer_dicounted_prices.append(discounted_price)
    discounted_prices.append(customer_dicounted_prices)

discounted_prices

[[1619.95, 26.98, 89.99],
 [14.38, 107.99],
 [22.49, 22.49],
 [584.99, 89.99],
 [539.99, 359.97]]

## Loop Control

In [ ]:
# What is loop control

### Improved Affordability Calculator.

We need to make sure our affordability calculator can handle many data types without stopping - our data is VERY messy. We need to make the following changes to the code below:


* Make sure it converts the string in the list below into a float. Print a warning that this was string data. Then process as usual.

* Also, have the loop skip any instances of None data type.

* Then, remove the generic except statement to avoid processing errors.

* Finally, change the hard coded value 50 into a variable so we can change this value based on each customer's budget.

In [ ]:
price_list = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]

# loop to calculate how many of each item I can buy
for price in price_list:
    try:
        affordable_quantity = 50//price  # My budget is 50 dollars
        print(f"I can buy {affordable_quantity} of these.")
    except ZeroDivisionError:
        print("This product is free, I can take as many as I like.")
    except:  # need to get rid of general except statement
        print('Thats not a number')

## Loop Excercises